<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lab2</title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>
<body>
    <div>
        <h2>Login</h2>
    </div>

    <form method = "post">
        <input type="text" size="30" placeholder="Username" name="username"><br />
        <input type="password" size="30" placeholder="Password" name="password"><br />
        <input type="submit" value="Log In" name="login">
    
    </form>

</body>
</html>