<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>
<body>
    <div>
        <h2>Welcome</h2>
    </div>

    <table class="center">
        <tr>
            
            <td> <a href="/add">Add a survey</a> </td>
        </tr>
        <tr>
			
            <td><a href="/view">View surveys</a></td>
        </tr>

<tr>
    <td><a href="http://localhost:3000"> Sign Out</a></td>
</tr>
    </table>

</body>
</html>